ul, ol {
  padding-left: 1em; 
  margin: 0.2em;
  
  /** borders **/
  border-style: solid;
  border-width: 1px;
  /*border-left-width: 1px;*/
  border-color: lightgrey;
  background-color: ghostwhite; 
}

/*
li:before {
  /*content: "-"; XXX the adds an entry to empty LIs
  font-size: 3pt;
  padding-right: 0.25em;
}*/

/* New */
li.key-value_pair {
  list-style-type: none;
  border-left: 2px solid grey;
  padding: 0;
  margin: 0;
}

span.key {
  font-weight: bold;
}

span.key:after {
  content: ":";
}
