body {
  font-family: sans-serif;
  font-size: 10pt;
}

tbody th {
  font-family: monospace;
  font-weight: unset;
  text-align: right;
}

thead th {
  font-family: sans-serif;
  font-size: 11pt;
  background-color: #444;
  color: white;
}

td, th {
  padding-left: 0.4em;
  padding-right: 0.4em;
}

table, th, td {
  border: solid 1px grey;
  border-collapse: collapse;
}

.notdone {
  background-color: #fcc;
}

.done {
  background-color: #cfc;
}


ol { padding-left: 0; }

dd { margin-left: 2em; }

dl { 
  margin-top: 0em;
  margin-bottom: 0.25em; 
}

dt {
  font-family: monospace;
}
