/* border */
/* ul {
  border-style: solid;
  border-width: 0px;
  // border-width: 1px 0px 1px 1px;
  border-color: grey;
  // border-left-width: 1px; 
} */

/* li.key-value_pair */
ol, ul {
  border-width: 1px;
  border-style: solid;
  border-color: lightgrey;
  
  border-left: 3px solid steelblue;
}