/* border */
ul {
  border-style: solid;
  border-width: 1px 0px 1px 1px;
  border-color: grey;
  /*! border-left-width: 1px; */
}

ol { 
  border-style: solid;
  border-width: 0px 0px 0px 1em;
  border-color: lightblue;
}
/* use this instead of everything else... possibly in conjunction with a span */
