ul {list-style-type: none; }
ol {list-style-position: none; }

/* see
    answer by http://stackoverflow.com/users/1229023/raina77ow
    on http://stackoverflow.com/questions/13976292 */
ol {
    counter-reset: i 0;
}
ol > li:before {
    content: counter(i) ".";    
    counter-increment: i;
}